body{
    background-color: teal;
}

.img{
    float: left;
    margin: 20px;
}

.etape1, .etape2, .etape3, .etape4, .etape5{
    background-color: rgb(84, 180, 84);
    float: left;
    border: 2px solid white;
    width: 150px;
    border-right: 2px solid green;
    border-top: 50px;
    border-bottom: 30px;
    text-align: center;
    -webkit-box-shadow: 2px 8px 13px 3px rgba(0,0,0,0.28);
    -moz-box-shadow: 2px 8px 13px 3px rgba(0,0,0,0.28);
    box-shadow: 2px 8px 13px 3px rgba(0,0,0,0.28);

}

body{
    width: 700px;
    height: 400px;
    padding: 20px 600px;
}

article{
    padding-right: 1px,
}

title {
    float: left;
}

header{
    background-color: rgb(255, 255, 255);
}

h1{
color: rgb(84, 146, 84);
border-right: none;
background-color: white;
text-decoration: lawngreen;
}




.c5{
    float: left;
    background-color: white;
    border-top: thin;
    padding: 10px;
    padding-top: 40px;
}
 
 

 .c20 img{
     text-align: left;
 }

 .c12{
     background-color: white;
     background-color: white;
     padding-left: 30px;
 }

 article{
     font-family: serif;
     background-color: white;
     text-align: left;
 }

 h2{
     color: rgb(79, 185, 88);
 }

 .c12{
    text-align: left;
    padding: 50px;
    padding-top: 0px;
    padding-left: 90px;

 }

 .c40{
     float: right;
 }

.c1{
    text-align: left;
    padding-left: 90px;
    padding: 20px;
}

footer img{
    width: 700px;
}

.v8{
    border: 2px solid black;
}